.innerResumeWrapper {
    padding-top: 4em;
    padding-bottom: 4em;
}
.gridRow {
    padding-top: 1em;
    padding-bottom: 1em;
}
.detailsInnerGridItem {
    padding-bottom: 2em;
}
@media screen and (max-width: 659px) {
    .detailsInnerGridItem {
        padding-bottom: 1em;
    }
}
@media screen and (min-width: 660px) {
    .categoryGridItem {
        padding-top: 1em;
    }
}
.categoryGridItem {
    text-align: left;
    width: 15%;
}
.categoryTitle {
    color: #313131;
}
@media screen and (max-width: 659px) {
    .categoryTitle {
        padding-bottom: 1em;
        text-align: center;       
    }
}
.categoryUnderline {
    text-decoration: none;
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}
.detailsGridItem {
    width: 50%;
}
.details {
    color: #6E7881;
}
.detailsSubsection1 {
    line-height: 2em !important;
    color: #313131;
    padding-top: .5em;
    padding-bottom: .5em;
}
.detailsSubsection2 {
    line-height: 2em !important;
    font-style: italic;
}
.detailsSubsection3 {
    line-height: 2em !important;
    padding-top: .5em;
    color: #838C95;
}
@media screen and (max-width: 659px) {
    .detailsSubsection1 {
        text-align: center;
    }
    .details {
        text-align: center;
    }
}
@media screen and (max-width: 991px) {
    .categoryGridItem {
        width: 25%;
    }
    .detailsGridItem {
        width: 65%;
    }
}
.skillsDescriptionGridItem {
    width: 70%;
    padding-left: 15%;
    /*text-align: center;*/
}
@media screen and (max-width: 991px) {
    .skillsDescriptionGridItem {
        width: 70%;
        padding-left: 5%;
    }
}
.skillsDescriptionTypography {
    line-height: 2em !important;
    font-size: 1.1em !important;
    color: #6E7881;
    padding-top: 1em;
    padding-bottom: 3em;
}
.toolsGridItem {
    width: 30%;
    padding: 1em;
}
@media screen and (max-width: 659px) {
    .toolsGridItem {
        width: 100%;
        padding: 0;
    }
}
.toolsName {
    color: #313131;
    text-align: center;
}
.toolsDescription {
    color: #6E7881;
    font-weight: 200 !important;
    font-size: 1em !important;
    line-height: 2em !important;
}
@media screen and (max-width: 659px) {
    .toolsDescription {
        padding-bottom: 3em;
    }
}
.item {
    border-bottom: solid thin;
}
.dividerUpperPadding {
    padding: 1em;
}
.dividerLowerPadding {
    padding: 3em;
}
.imageOuterWrapper {
    display: flex !important;
    justify-content: center;
    align-items: center;
}
.imageContainerSm {
    height: 5em;
    width: 5em;
    margin: 2em;
    padding-top: 1em;
}
.imageContainerMed {
    height: 5em;
    width: 10em;
    margin: 2em;
    padding-top: 1em;
}
@media screen and (max-width: 659px) {
    .imageContainerSm {
        height: 8em;
        width: 8em;
    }
    .imageContainerMed {
        height: 7.5em;
        width: 15em;
    }
    
}
.image {
    height: 100%;
    width: 100%;
    object-fit: contain;
}